@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LFCollege</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to LFCollege</h2>
        <p>
            At LFCollege, students will engage and learn in the relaxing Florida atmosphere. 
            LFG offers classes led by doctorate-level faculty in the liberal arts. Our accomplished faculty and 
            optimal environment lead students to obtain one of the most sought after degrees in the country.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Flexible, year-round classes</h2>
        <p>Attend Fall, Spring, or Summer to obtain a liberal arts degree that will help you fulfill your dreams.</p>
    </div>
    <div class="col-md-4">
        <h2>Financial assistance</h2>
        <p>Paying for college can be overwhelming but fear not future students! We can help students prepare for this financial commitment by offering financial aid, job search help, 
        and scholarship matching. </p>
    </div>
</div>